.nav-container {
    padding-top: 10px; /* Adjust the padding as needed */
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for a subtle effect */
    position: sticky;
    width: 100%;
  }
  
  .nav-container.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideDown 0.3s;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: 1px solid #bbb;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background-color: grey;
    color: white !important;
  }
  
  .navbar {
    float: left;
    border-right: 1px solid #bbb;
    box-sizing: border-box;
  }
  
  .navbar:last-child {
    border-right: none;
  }
  
  .navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .navbar a:hover {
    background-color: rgb(59, 56, 56);
  }
  
  .navbar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: inherit;
    transition: transform 0.3s ease, border-color 0.5s ease;
    transform: scale(0);
  }
  
  .navbar a:hover::before {
    background-color: rgba(17, 17, 17, 0.5);
    color: white;
    transform: scale(1);
  }
  
  .navbar a.active {
    text-decoration: underline;
  }
  