.flex-container {
    display: flex;
    align-items: center;
  }
  
  .img1 {
    height: 750px;
    width: 50%;
  }
  
  .sec1 {
    padding-left: 20px;
    font-size:px;

  }

  .second-container {
    display: flex;
    justify-content: space-between;
  }
  
  .img2 {
    width: 50%;
    order: 2;
    height:60%;
    margin:auto;
  }
  
  .sec2 {
    width: 50%;
    padding-right: 20px;
    order: 1;
    font-size:40x;
  }

  .sec1,
  .sec2,
  .sec3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  
  .sec3 {
    margin-bottom: 0;
  }