

.sign-up-form {
  width:300px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: #fff;
  padding:20px;
  margin:8% auto 0;
  text-align:center;
  margin: 5% 0 0 65%;

}

.sign-up-form h1 {
  color: #1c8a;
  margin-bottom:30px;
}

.input-box {
  border-radius:20px;
  padding:10px;
  margin:10px 0;
  width:200px;
  border: 1px solid #999;
  outline:none;
}

button {

  color:#fff;
  width:300px;
  padding:10px;
  border-radius:20px;
  font-size:15px;
  margin:10px 0;
  border:none;
  outline:none;
  cursor:pointer;

}

.signup-btn {
  background-color:#1c8adb;
}

.twitter-btn{
  background-color:#21afde;
  
}
.facebook-btn{
  background-color:#3b5998;
}
.google-btn {
  background-color:#DB4437;
}


a {
  text-decoration:none;
}

hr {
  margin-top:20px;
  width:80%;
}

.or {
  background:white;
  width:30px;
  margin:-19px auto 10px;
}

img {
  width:70px;
  margin-top:-50px;
}

